html {
  background-color: #c9b5ab;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: PT Sans
}

.wrapper {
  font-weight: normal;
}

.div {
  font-weight: normal;
}

dl dt {
  font-weight: bold
}
